@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-zinc-50;
  }

  html {
    font-family: "Inter", sans-serif;
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 1.5rem;
  }
}
